* {
  margin:0;
  padding:0;
}

body {
  background:#e1e1e1;
}

.headeri {
  background:#fff;
  box-shadow:0 2px 5px rgba(0,0,0,0.2);
  padding: 15px 20px;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:9;
  display: flex;
  justify-content: center;
}
.admin-dashboard {
  font-size: 18px;
  margin: 0 auto;
}
/* nga ktu*/
.header{
  
  
  padding: 15px 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  
}
.user-profile {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: auto;
}
.user-profile:hover .dropdown-menu {
  display: block;
}
.dropdown-menu ul {
  list-style: none;
  background: #fff;
  padding: 10px;
  
}
.dropdown-menu li {
  padding: 5px 0;
}
.dropdown-menu a {
  text-decoration: none;
  color: #222;
  display: block;
}
.dropdown-menu a:hover {
  color:dodgerblue;
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: 20px;
}

.user-profile span {
  margin-right: 10px;
  margin-top: 6px;
}
/* ktu*/

button {
  background:transparent;
  border:none;
  width:30px;
  height:30px;
  margin-top: 8px;
  cursor:pointer; 
  outline:0;
}

.toggle span {
  width:100%;
  height:3px;
  background:#555;
  display:block;
  position:relative;
  cursor:pointer;
}

.toggle span:before,
.toggle span:after {
  content:'';
  position:absolute;
  left:0;
  width:100%;
  height:100%;
  background:#555;
  transition: all 0.3s ease-out;
}

.toggle span:before {
  top:-8px;
}

.toggle span:after {
  top:8px;
}

.toggle span.toggle {
  background:transparent;
}

.toggle span.toggle:before {
  top:0;
  transform:rotate(-45deg);
  background:dodgerblue;
  
}

.toggle span.toggle:after {
  top:0;
  transform:rotate(45deg);
  background:dodgerblue;
}

.sidebar {
  background:#fff;
  width:235px;
  position:fixed;
  top:0;
  left:-235px;
  height:100%;
  box-shadow:0 2px 8px rgba(0,0,0,0.2);
  padding-top:90px;
  transition:all 0.3s ease-out;
}

.sidebar ul {
  list-style:none;
}

.sidebar ul li {
  display:block;
}

.sidebar ul li a {
  padding:8px 15px;
  font-size:16px;
  color:#222;
  font-family:arial;
  text-decoration:none;
  display:block;
  position:relative;
  z-index:1;
  transition:all 0.3s ease-out;
  font-weight:500;
}

.sidebar ul li a:before {
  content:'';
  position:absolute;
  bottom:0;
  left:50%;
  right:50%;
  transform:translate(-50%,-50%);
  width:0;
  height:1px;
  background:dodgerblue;
  z-index:-1;
  transition:all 0.3s ease-out;
}

.sidebar ul li a:hover:before {
  width:100%;
}

.sidebar ul li a:hover {
  color:dodgerblue;
}

.sidebarshow {
  left:0;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}
/* Making it Responsive */
@media screen and (max-width: 768px) {
  .headeri {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .admin-dashboard {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .user-profile {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  margin-top: 10%;
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 100%;
  width: 60%; /* Adjust the width as needed */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.container input,
.container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.container button {
  width: 100%;
  padding: 10px;
  background-color: dodgerblue;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.container {
  margin-top: 10%; 
}

#data-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

#data-table th,#data-table td {
  padding: 8px;
  text-align: left;
   border-bottom: 1px solid #ddd;   /* kjo mund te japi nje problem te tabela */
}

#data-table th {
  background-color: #f2f2f2;
}

/* #data-table tbody tr:hover {
  background-color: #f5f5f5;    kjo do shtohet me vone 
} */

/* Style for the button */
    .open-button {
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
    }

    /* Style for the pop-up */
    .popup {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      border: 1px solid #ccc;
      padding: 20px;
      z-index: 9999;
    }

    /* Style for the input bars */
    .input-bar {
      margin-bottom: 10px;
    }

    /* Style for the submit button */
    .submit-button {
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
    }