<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="../../Asset/CSS/admin.css">
</head>
<body>
  <div class="header">
    <h1 id="welcome">Admin Dashboard</h1>
    <div class="user-profile">
      <span>Username</span>
      <div class="dropdown-menu">
        <ul>
          <li>Profile</li>
          <li>Settings</li>
          <li>Logout</li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="sidebar">
    <ul>
      <li><a href="index.php">Dashboard</a></li>
      <li><a href="stockcheck.php">Check stock</a></li>
      <li>Buy stock</li>
      <li>Check requests</li>
    </ul>
  </div>
  
  <div class="main-content">
  <div class="container">
        <h1>Data Insertion</h1>
        <input type="text" id="inputItem" placeholder="Enter item">
        <input type="text" name="Quantity" placeholder="Enter quantity"></input>
        <select id="inputCategory">
            <option value="IT">IT</option>
            <option value="service">Service</option>
        </select>
        <select id="warehouse"></select>
        <button onclick="insertData()">Insert</button>
        
    </div>
    <h2 class="content-heading"></p>
  </div>
  
  <div class="footer">
    <p>&copy; 2023 Admin Dashboard. All rights reserved.</p>
  </div>
  <script src="../../Controller/insert-stock.js">
  </script>
</body>
</html>